apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: project5-environments
  namespace: argocd
spec:
  generators:
    # ---------- DEV (auto-sync) ----------
    - list:
        elements:
          - name: dev
            namespace: project5-dev
        template:
          metadata:
            name: project5-dev
          spec:
            project: default
            source:
              repoURL: https://github.com/theseanchristopher/project4-helm-argo-gitops.git
              targetRevision: project4-gitops
              path: charts/app
              helm:
                releaseName: project5-dev
                parameters:
                  - name: image.repository
                    value: 349821334974.dkr.ecr.us-east-1.amazonaws.com/project1-nginx
                  - name: image.tag
                    value: cfddcc0d4c2a5798f529485c3b1cc575a82a791c
                  - name: replicaCount
                    value: "1"
            destination:
              server: https://kubernetes.default.svc
              namespace: project5-dev
            syncPolicy:
              automated:
                prune: true
                selfHeal: true
              syncOptions:
                - CreateNamespace=true

    # ---------- PROD (manual sync) ----------
    - list:
        elements:
          - name: prod
            namespace: project5-prod
        template:
          metadata:
            name: project5-prod
          spec:
            project: default
            source:
              repoURL: https://github.com/theseanchristopher/project4-helm-argo-gitops.git
              targetRevision: project4-gitops
              path: charts/app
              helm:
                releaseName: project5-prod
                parameters:
                  - name: image.repository
                    value: 349821334974.dkr.ecr.us-east-1.amazonaws.com/project1-nginx
                  - name: image.tag
                    value: cfddcc0d4c2a5798f529485c3b1cc575a82a791c
                  - name: replicaCount
                    value: "1"
            destination:
              server: https://kubernetes.default.svc
              namespace: project5-prod
            syncPolicy:
              syncOptions:
                - CreateNamespace=true

