apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: project5-environments
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: dev
            namespace: project5-dev
          - name: prod
            namespace: project5-prod
  template:
    metadata:
      name: project5-{{name}}
    spec:
      project: default
      source:
        # SSH access to the repo is not configured.
        #repoURL: git@github.com:theseanchristopher/project4-helm-argo-gitops.git
        repoURL: https://github.com/theseanchristopher/project4-helm-argo-gitops.git
        targetRevision: project4-gitops
        path: charts/app
        helm:
          releaseName: project5-{{name}}
          parameters:
            - name: image.repository
              value: 349821334974.dkr.ecr.us-east-1.amazonaws.com/project1-nginx
            - name: image.tag
              value: cfddcc0d4c2a5798f529485c3b1cc575a82a791c 
            - name: replicaCount
              value: 1 
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
      # NOTE:
      # We will control dev auto-sync vs prod manual-sync from the Argo CD UI.
      # By default, Applications created by this template will be manual sync.
